
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
   background-image: url(photo );
   background-size: auto;
   background-position: center;
}
nav{
    box-shadow: darkgray;
}
#brand, #hero-title, #success, #hero-name{
    font-weight: bolder;
}
#my-squad, #squad-card{
    width: 50%;
    margin: auto;
}
.nav-item a:hover{
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 500px) {
    #my-squad, #squad-card{
        width: 90%;
    }
}


